<div id="activity-modal" class="modal fade">
    <div style="width:90%" class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" 
                data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title form-inline">
                    Activité :  
                    <div class="form-group" style="margin-left: 0;margin-right: 0;">
                        <input class="form-control ng-pristine ng-valid" name="step-name" data-ng-model="previewStep.name" type="text">
                    </div>
                </h4>
            </div>
            <div class="modal-body">

                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title" data-ng-bind="previewStep.name"></h3>
                    </div>
                    <div class="panel-body">

                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                Consigne pédagogique
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                Informations complémentaires
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-body">
                                Objet de la question
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6">

                            <div class="panel panel-default">
                                <div class="panel-body">
                                Question
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-body">
                                Propositions de réponse
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-body">
                                Consigne fonctionnelle
                                </div>
                            </div>

                        </div>


                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>